<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Boas vindas <%= title %></p>
    <p>Logado como <%= owner.name %></p>
    <p>
      <a href="/auth/sign_out">Sair do sistema</a>
    </p>
  </body>

</html>
